<launch>
  <!-- Launch Gazebo  -->
  <include file="$(find schunk_lwa4p)/launch/lwa4p.world.launch" />   


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam ns="/lwa4p" file="$(find schunk_lwa4p)/config/arm_controller.yaml" command="load"/>


  <!-- load the controllers -->
  <!-- <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
	output="screen" ns="/lwa4p" args="joint_state_controller
					  arm_1_joint_position_controller
					  arm_2_joint_position_controller
					  arm_3_joint_position_controller
					  arm_4_joint_position_controller
					  arm_5_joint_position_controller
					  arm_6_joint_position_controller"/> -->

  <!-- start_controllers -->
  <node ns="arm" name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/lwa4p/joint_states" />
  </node>

</launch>
